{% extends "partials/base.html" %}
{% load static %}
{% block title %}Árvores Plantadas{% endblock title %}

{% block pagetitle %}Árvores Plantadas{% endblock pagetitle %}

{% block linkpage %}{% url 'home' %}{% endblock linkpage %}{% block page %}Home{% endblock page %}

{% block breadcrumb-pagetitle %}Árvores Plantadas{% endblock breadcrumb-pagetitle %}

{% block row %}
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}
{% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <a href="{% url 'planted_tree_create' %}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Plantar Arvore</a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tablePlantedTree" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Árvore</th>
                            <th>Idade</th>
                            <th>Usuário</th>
                            <th>Conta</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Plantado em</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for planted_tree in planted_tree_list %}
                            <tr>
                                <td>{{ planted_tree.tree }}</td>
                                <td>{{ planted_tree.age }}</td>
                                <td>{{ planted_tree.user }}</td>
                                <td>{{ planted_tree.account }}</td>
                                <td>{{ planted_tree.location_latitude }}</td>
                                <td>{{ planted_tree.location_longitude }}</td>
                                <td>{{ planted_tree.planted_at }}</td>
                                <td>
                                    <a href="{% url 'planted_tree_update' planted_tree.pk %}">
                                        <button class="btn btn-success btn-sm" title="Editar"><i class="fas fa-pencil-alt"></i></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
{% endblock row %}

{% block scripts %}
    <script type="module" src="{% static 'js/modules/planted_tree/planted_tree.js' %}"></script>
{% endblock scripts %}
